.for_all_page{
  background-color: #ffffff;
}
.dashboard{
    color: black;
    font-weight: 600;
}
.container{
    width: 100%;
    display: flex;
} 
.row{
  width: 100%;
}

.chart_1{
  width: 90%;
}


.admin_data{
    height: 330px;
    font-size: 14px;
    display: inline-flex;
    width: 100%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    
  }
.admin_data1{
  /* height: 10px; */
  height: auto;
  width: 95%;
  margin-left: 25px;
  margin-top: 10px;
}
.admin_data2{
  height: 300px;
  display: inline-flex;
  width: 100%;
  /* margin-left: 40px;
  margin-top: 10px; */
}

.admin_data10{
  height: 330px;
  font-size: 14px;
  display: inline-flex;
  width: 100%;
  display: inline-flex;
  
}

.data{
    margin-top: 20px;
}
.admin_profile{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.small-row{
  width: 500px;
  height: auto;
}
.admin_data5{
  width: 530px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}


@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}


@media only screen and (max-width: 580px) {

    /* .container{
        width: 100%;

    } */
    /* .rows{
      width: 100%;
    } */
    
    .admin_data{
        height: 330px;
        font-size: 14px;
        width: 100%;
      }
    .admin_data1{
      height: auto;
      width: 100%;
      margin-top: 10px;
    }
    .admin_data2{
      height: 300px;
      width: 90%;
      margin-top: 10px;
    }
    
    .data{
        margin-top: 20px;
    }
    .admin_profile{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }



}